/*
 * Set the colors for the site based on the style tiles
 *
 */

$color-primary: #426DA9; /*blue*/
$color-secondary:#789D4A; /*green*/
$color-accent: #a4343a; /*red*/
$color-background: #eeeae1; /*light yellow*/
$color-text: #666666; /*gray*/