/*
 * Set the colors for the site based on the style tiles
 *
 */

$color-primary: #719a44; /*green*/
$color-secondary:#f6bd00; /*yellow*/
$color-accent: #756660; /*brown*/
$color-background: #f7f7f7; /*light gray*/
$color-text: #444444; /*dark gray*/

$white: #ffffff;
$black: #000000;
$light-grey: #f7f7f7;