/*
 * Import and set fonts for the site
 *
 */

//@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light|Rosario:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Rosario:700,700italic);

$font-size-base: 18px;

$font-title: 'Rosario', Helvetica, sans-serif;
$font-heading: 'Rosario', Helvetica, sans-serif;
$font-body: 'Lora', Times, serif;