.slides {
    background-color: lighten($color-secondary, 20%);
    text-align: center;
    padding: 1em;
    height: 10em;

    -webkit-box-shadow: 5px 5px 5px 0 $color-accent;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    5px 5px 5px 0 $color-accent;  /* Firefox 3.5 - 3.6 */
    box-shadow:         5px 5px 5px 0 $color-accent;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

    li {
        list-style: none;
    }
}
