////////////////////
// TABBED CONTENT //
////////////////////

.ui-tabs {
    width: 100%;
    margin: 0 auto;
}

ul.tabs,
.ui-tabs-nav {
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: relative;
    top: -3.1em;
}

ul.tabs li,
.ui-tabs-anchor {
    background: none;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: darken($white, 10%);

    &:hover,
    &:active {
        color: $color-secondary;
        text-decoration: none;
    }
}

.ui-tabs-active a {
    color: $color-secondary;
    font-weight: 700;
}

.ui-tabs-panel {
    display: none;
    padding: 1em;
}

.tab-content.current{
    display: inherit;
}
