.widget {
    border-bottom: none;
}

.info-widgets .widget:last-child {
    margin-top: 0;
}

// RSS feeds section customization
.rss-feeds {

    & h1 {
        font-size: 2em;
    }

    img {
        display: none;
    }
}

.rss-feeds .widget-title {
    margin: 0 0 0.5em 0;
}

.rss-feeds ul li {
    margin-bottom: 1em;
}

// Message board / weather customization
.left.col {
    padding-right: 2em;
}

// Market Data widget customization
.market-data {
    margin-top: 1.3em;
}

// Footer widgets
.footer-block aside {
    padding-left: 0.7em;
}
.footer-widget-title {
    text-transform: uppercase;
}

.fat-footer-one,
.fat-footer-two,
.fat-footer-three,
.fat-footer-four {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}

.fat-footer .widget_sp_image {
    float: left;
    padding-bottom: 0;
}

.fat-footer .fa-stack {
    float: left;
    margin-right: 0.5em;
}

.fat-footer .textwidget a {
    color: $white;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
