.crop-info-center h1 {
    color: $color-text;
    font-size: 1.9em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    border-bottom: 3px solid $color-primary;
    line-height: 0.1em;
    margin-top: 2em;
}

span.title-block {
    background: $white;
    padding: 0 10px;
}

.crop-info-center h2 {
    text-transform: uppercase;
    font-style: italic;
    font-size: 1em;
    color: lighten($color-text, 20%);
    line-height: 3;
    text-align: center;
}
