/*
 * Media queries for responsive design
 *
 */

// SPECIAL area just for the Crop Info Center menu background
@media screen and (min-width: 979px) and (max-width: 1084px) {
    .crop-info-center-menu-background {
        top: 160px;
    }
}

// LARGE SCREENS
 @media screen and (min-width: 979px) {
    .main-navigation {
        display: block!important;
        height: auto!important
    }
    .main-navigation .menu>.menu-item-has-children {
        min-height: 40px
    }
    .main-navigation .sub-menu {
        position: absolute;
        top: 38px;
        left: -11px;
        margin-left: 0;
        display: none;
        min-width: 150px;
        padding: .625rem;
        border: 1px solid #dbdbdb;
        background-color: #f9f9f9
    }
    .main-navigation .sub-menu .menu-item,
    .main-navigation .sub-menu .page_item {
        margin-bottom: .625rem
    }
    .main-navigation .sub-menu .sub-menu {
        position: static;
        top: 30px;
        padding-bottom: 0;
        padding-left: 0;
        border: none
    }
    .main-navigation .sub-menu .sub-menu .menu-item,
    .main-navigation .sub-menu .sub-menu .page_item {
        padding-left: .625rem
    }
    .content-area {
        padding-right: 4.7153%
    }
}

// MEDIUM SCREENS
@media screen and (min-width: 979px) and (max-width: 978px) {
    .content-area {
        padding-right: 0
    }
}

@media screen and (max-width: 978px) {
    .comment-body h1,
    .entry-title,
    .error404 .page-title,
    .site-title,
    article.page h1,
    article.post h1 {
        font-size: 2.36859rem
    }
    body,
    button,
    input,
    select,
    textarea {
        font-weight: 400
    }
    body {
        margin-top: 120px
    }
    .container,
    .content-container,
    .footer-container,
    .header-container {
        padding-right: 1.01125em;
        padding-left: 1.01125em
    }
    .site-header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100%;
        height: 90px;
        padding-top: 0;
        padding-bottom: 0;
        background-color: #fff
    }
    .site-branding img {
        max-width: 80%;
    }
    .admin-bar .site-header {
        top: 46px
    }
    .site-branding {
        left: 1.01125em
    }
    .site-logo {
        line-height: 60px
    }
    #wpadminbar {
        position: fixed;
        top: 0;
        left: 0
    }
    .main-navigation {
        position: fixed;
        top: 60px;
        left: 0;
        display: none;
        float: none;
        overflow-y: scroll;
        width: 100%;
        background-color: #f9f9f9;
        -webkit-overflow-scrolling: touch
    }
    #mobile-menu-switch,
    .main-navigation .menu .menu-item a,
    .main-navigation .menu .page_item a {
        display: block
    }
    .admin-bar .main-navigation {
        top: 106px
    }
    .main-navigation a {
        color: #595959
    }
    .main-navigation .container {
        padding-right: 0;
        padding-left: 0
    }
    .main-navigation .menu {
        padding-top: .67417em;
        padding-bottom: .67417em
    }
    .main-navigation .menu .menu-item,
    .main-navigation .menu .page_item {
        float: none;
        margin-bottom: 0;
        margin-left: 0;
        padding-top: .46875rem;
        padding-bottom: .3125rem
    }
    .main-navigation .menu>.menu-item,
    .main-navigation .menu>.page_item {
        margin-bottom: .625rem;
        border-bottom: 1px solid #dbdbdb;
        padding: 0 1.01125em .625rem
    }
    .main-navigation .sub-menu {
        float: none;
        margin-left: 0
    }
    .main-navigation .sub-menu .menu-item,
    .main-navigation .sub-menu .page_item {
        padding-left: .625rem
    }
    .main-navigation .sub-menu .sub-menu {
        margin-bottom: 0;
        padding-bottom: 0;
        padding-left: 0
    }
    .main-navigation .sub-menu .sub-menu li:last-child {
        margin-bottom: 0;
        padding-bottom: 0
    }
    .main-navigation .sub-menu .sub-menu .menu-item,
    .main-navigation .sub-menu .sub-menu .page_item {
        padding-left: .625rem
    }
    .admin-bar #mobile-menu-switch {
        top: 46px
    }
    .post-navigation {
        margin-top: 1.875rem;
        margin-bottom: 1.875rem
    }
    .comment-navigation {
        margin-top: 0;
        margin-bottom: 1.875rem
    }
    .content-area,
    .widget-area {
        margin-bottom: 1.875rem;
        float: left;
        display: block;
        width: 100%;
        margin-top: 1.875rem
    }
    .content-area {
        margin-right: 3.57866%
    }
    .content-area:last-child {
        margin-right: 0
    }
    // Message board / weather customization
    .left.col {
        padding-right: 0;
    }
    .widget-area {
        margin-right: 3.57866%
    }
    .widget-area:last-child {
        margin-right: 0
    }
    // News Feeds customization
    .rss-item .rss-button {
        top: 0;
        float: none;
        text-align: center;
    }
    h3.hungryfeed_feed_title {
        margin-top: 0.5em;
    }

    .comment-body,
    article.page,
    article.post {
        margin-bottom: 1.875rem;
        padding-bottom: 1.875rem
    }
    .comment-list {
        margin-bottom: .9375rem;
        padding-bottom: 0
    }
    .default-theme.wp-posts-carousel .wp-posts-carousel-container {
        height: 12em;
    }
    .site-footer {
        padding-top: 1.875rem;
        padding-bottom: 1.875rem
    }
    .fat-footer .footer-logo {
        margin-bottom: 3em;
    }
    .footer-logo .widget_sp_image,
    .footer-logo .textwidget {
        text-align: center;
        float: none;
    }
    .footer-block {
        display: table;
        margin: 1em auto;

        &:last-of-type {
            margin-bottom: 3em;
        }

        & .footer-widget-title {
            text-align: center;
        }

        & aside {
            padding-left: 0;
        }
    }
    .footer-links .menu li {
        width: 100%;
        text-align: center;
        padding: 0.5em;

        &:first-of-type {
            margin-top: 0.5em;
        }
    }
}

// SMALL SCREENS
@media screen and (max-width: 480px) {
    .comment-respond .submit,
    input[type=submit] {
        width: 100%
    }
    .alignleft,
    .alignright {
        display: block;
        float: none
    }
    .wp-caption.alignleft,
    .wp-caption.alignright,
    blockquote.alignleft,
    blockquote.alignright,
    img.alignleft,
    img.alignright {
        margin: 1.333em auto 1em
    }
    .wp-caption.aligncenter,
    .wp-caption.alignleft,
    .wp-caption.alignnone,
    .wp-caption.alignright {
        margin-bottom: .42219em
    }
    .comment-body,
    .comment-respond {
        margin-bottom: .9375rem;
        padding-bottom: .9375rem
    }
    .comment-body {
        padding-left: 0
    }
    .comment-body .comment-meta .avatar {
        display: none
    }
    .comment-list .children {
        margin-left: 0;
        padding-left: 0
    }
    .pingback+.comment .comment-body {
        margin-top: .9375rem
    }
    .gallery .gallery-item {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%
    }
    .gallery .gallery-item:last-child {
        margin-right: 0
    }
    .fat-footer .fa-stack {
        margin-right: 0;
        display: none;
    }
    .footer-links .menu li {
        margin: 0.5em 0 0 0;
    }
}