/*
 * Sets style for alignment classes
 *
 */

.alignleft {
    display: inline;
    float: left
}

.alignright {
    display: inline;
    float: right
}

.aligncenter,
.alignnone {
    display: block
}

.aligncenter {
    margin-right: auto;
    margin-left: auto
}